/* ===================================================================
CSS information
 file name  : common.css
 author     : Le Duc Anh
 website : mauthietke.info
=================================================================== */
/* ===================================================================
CSS information
 file name  : common.css
 author     : Le Duc Anh
 website : mauthietke.info
=================================================================== */
@import url("https://fonts.googleapis.com/css?family=Muli:400,700|Roboto:300,400,700");
.main-container {
	max-width: 1170px;
	margin: auto;
}

@media only screen and (max-width: 1024px) {
	.main-container {
		width: 95%;
	}
}

html {
	font-size: small;
	line-height: 1.5;
}

body {
	color: #313131;
	background: #fff;
	-webkit-text-size-adjust: none;
	font-size: 100%;
}

.ie body {
	font-size: 98%;
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 93%;
	}
}

body a {
	color: #4b4b4b;
}

body a:link, body a:visited, body a:active {
	text-decoration: underline;
}

.mouse body a:hover,
.touch body a.touchstart {
	text-decoration: none;
	color: #646464;
}

body img {
	max-width: 100%;
	-webkit-touch-callout: none;
}

body, pre, input, textarea, select {
	font-family: "Roboto", sans-serif;
}

input, select, textarea {
	font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
	display: none !important;
}

html.ie8 #page {
	min-width: 1170px !important;
	margin: auto;
	font-size: 100% !important;
}

@media only screen and (min-width: 1025px) {
	body .view_tab-sp, body .view_tab {
		display: none !important;
	}
}

@media print {
	body .view_tab-sp, body .view_tab {
		display: none !important;
	}
}

.ie8 body .view_tab-sp, .ie8 body .view_tab {
	display: none !important;
}

@media only screen and (min-width: 768px) {
	body .view_sp {
		display: none !important;
	}
}

@media print {
	body .view_sp {
		display: none !important;
	}
}

.ie8 body .view_sp {
	display: none !important;
}

@media only screen and (max-width: 1024px) {
	body .view_pc {
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	body .view_pc-tab, body .view_tab {
		display: none !important;
	}
}

.mouse .over {
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	-o-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}

.mouse .over:hover,
.touch .over.touchstart {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}

.touch .over {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.touch .over.touchend {
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	transition-delay: 200ms;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* -----------------------------------------------------------
	#page
----------------------------------------------------------- */
@media only screen and (min-width: 768px) {
	#page {
		font-size: 100% !important;
	}
}

@media print {
	#page {
		font-size: 100% !important;
	}
}

.ie8 #page {
	font-size: 100% !important;
}

/*# sourceMappingURL=../maps/common.css.map */
